extends layout

block content
    .w3-card-4
        header.w3-container.w3-red
            h1= title
        .w3-container
            .modal(id="display")
            p
                strong Tipo: 
                |  #{item.tipo}
            p   
                strong Titulo:
                |  #{item.titulo}
            p   
                strong Subtitulo:
                |  #{item.subtitulo}
            p   
                strong Data de Criacao:
                |  #{item.dataCriacao}
            p   
                strong Data de Registo:
                |  #{item.dataRegisto}
            p   
                strong Autor:
                |  #{item.autor}
            p   
                strong Rating:
                .w3-text-yellow
                    p #{mediaRating} estrelas
            a.w3-button.w3-green(href=`http://localhost:29051/recursos/download/tudo/${item.autor}/${item._id}`) Download ZIP
            form(action="/recursos/avaliar/"+item._id,method="post")
                input(type="radio" name="rating" id="1-stars" value=1)
                input(type="radio" name="rating" id="2-stars" value=2)
                input(type="radio" name="rating" id="3-stars" value=3)
                input(type="radio" name="rating" id="4-stars" value=4)
                input(type="radio" name="rating" id="5-stars" value=5)
                input(type="text" name="usuario_id")
                button.w3-btn.w3-green.w3-mb-2(type='submit') Avaliar



        footer.w3-container.w3-red  
            address Grupo NPM Starters
            a(href="/recursos") Voltar 